@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Slab&family=Roboto:ital@1&display=swap');
:root{
  --heading-font: "Permanent Marker";
  --paragraph-font: Dancing Script, Helvetica, sans-serif;
}

body {
    background-color: #8ECAE6; 
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
  background-color: #023047;
  font-family: var(--heading-font);
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
}

#logo_link{
  padding-top: 5px;
}

h1, h2, h3 {
    text-align: center;
    padding: 50px;
}

main section {
  text-align: center;
}
main section img {
  box-sizing: border-box;
  border-radius: 5px;
}

.earrings-card, .miniature-card, .keychains-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #FFB703;
}

/* Footer Editor*/
footer{
  background-color: #023047;
  color: white;
  padding: 25px 50px;
  margin: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}

footer .social img{
  padding-top:15px ;
} 
footer p {
  font-size: 1.2em;
}    
footer p a:hover {
  text-decoration: underline;
  color: black;
}    

#back-to-top {
  text-align: right;
}
