@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Slab&family=Roboto:ital@1&display=swap');
:root{
  --heading-font: "Permanent Marker";
  --paragraph-font: Dancing Script, Helvetica, sans-serif;
}




body {
    background-color: #8ECAE6; 
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 35px;
  }

nav a:hover {
    color: #FFB703;
    text-decoration: underline;
}

header {
    background-color: #023047;
    font-family: var(--heading-font);
}
  
.home-title{
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
    border-radius: 5px;
}

.icon {
    width: 80px;
    height: 80px;
    padding-top: 10px;
}
  
.logo {
    width: 200px;
    height: 200px;
}

#logo_link{
    padding-top: 5px;
}

#hero {
    text-align: center;
}
  
#hero-img {
    width: 100%;
}
  
#hero-msg h1 {
    text-align: center;
}
  
#hero-msg h2 {
    text-align: center;
    color: black;
}

.earrings-card, .miniature-card, .keychains-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #FFB703;
}

h3 {
    margin: 0;
}

.button-box:hover { 
  text-align: center;
}

.book, .message {
    background-color: #023047;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .message:hover {
    background-color: #FFB703;
}

.msg {
    background-color: #219EBC;
    color: white;
    line-height: 1.5em;
    padding: 35px;
}
.msg p {
    padding-bottom: 15px;
}


/* Footer Editor*/
footer{
    background-color: #023047;
    color: white;
    padding: 25px 50px;
    margin: 10px;
}
footer a {
    color: white;
    text-decoration: none;
}
  
footer .social img{
    padding-top:15px ;
} 
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
    color: black;
}    
  
#back-to-top {
    text-align: right;
}
  
  
  
